*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header{
  background:#fcc646;
  padding: 2rem;
  color: #441f09;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 40%;
  color: #441f09;
}
.logo h2{
  font-weight: 700;
  margin: 8px 0 0 20px;
}
nav{
  display: flex;
  flex-direction: column;
}
nav .delivery_number{
  display: flex;
  float: right;
  margin-left: auto;
  margin-top: 10px;
}
nav .delivery_number p{
  font-weight: 600;
}
nav .links{
  display: flex;
  justify-content: space-around;
}
nav .links a{
  color: #441f09;
  text-decoration: none;
  font-weight: 600;
  margin: 5px 0 0 30px;
  letter-spacing: 4px;
}

.banner{
  margin-top: -32px;
}
.banner h1{
  font-size:8rem;
  font-weight:900;
  color:#441f09;
  margin-top: -32px;
  text-shadow: 2px 3px 4px white;
}
.banner h2{
  color: #441f09;
  text-shadow: 2px 3px 4px white;
  font-size: 4rem;
  font-weight: 900;
  margin-top: -30px;
}
.banner_left h5{
  color: #441f09;
  border: 2px solid #441f09;
  border-style: dashed;
  letter-spacing: -2px;
  padding: 8px;
  width: fit-content;
}
.banner_right img{
  margin-top: 50px;
  width: 650px;
  height: 500px;
}
.price{
  position: relative;
  left: 0;
  bottom: 6rem;
  width: 150px;
  height: 150px;
  background: #ec2020;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.price_border{
  padding: 1.20rem 1.72rem;
  border: 2px solid white;
  border-style: dashed;
  border-radius: 50%;
}
.form_container{
  position: relative;
}
.form{
  gap: 30px;
  position: relative;
}
.form .form_left input ,
.form .form_right input {
  margin-top: 2rem;
  border: 1px solid gray;
  padding: 14px;
  font-size: 20px;
  width: 350px;
}
.form button{
  margin-top: 2rem;
  width: 350px;
  padding: 14px;
  font-size: 20px;
}

.bottle{
  position: absolute;
  left: 1rem;
  margin-top: 7rem;
}
.burger{
  position: absolute;
  top: -5rem;
  left: 0;
}
.plate{
  position: absolute;
  top: 100px;
  right: 0;
}


.footer_text{
  background-image: url('../public/images/bg_footer.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem;
  /* height: 550px; */
  color: white;
}
.footer_text .logo{
  color: white;
}
.footer_left{
  width: 50%;
}

.icons svg{
  font-size: 30px;
  margin-right: 8px;
}
